/* Estilos generales */
body {
    font-family: 'Arial', sans-serif; /* O una fuente sans-serif similar *
    margin: 0;
    padding: 0;
    background-color: #FFF5F7; /* Rosa muy claro, casi blanco */
    color: #333; /* Texto oscuro para contraste */
}
.container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 40px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* Estilos para encabezados */
h1, h2, h3 {
    color: #E91E63; /* Rosa fuerte para encabezados */
    font-weight: bold;
    text-align: center; /* Centrar los encabezados */
    margin-bottom: 20px;
}

/* Estilos para imágenes */
img {
    width: 100%; /* Hace que la imagen ocupe todo el contenedor disponible */
    max-width: 700px; /* Limita el tamaño máximo a 500px */
    height: auto; /* Mantiene la proporción */
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    display: block;
    margin: 20px auto;
    transition: transform 0.3s ease; /* Transición suave para agrandar */
}

/* Agrandar la imagen visualmente */
img:hover {
    transform: scale(5.5); /* Agranda la imagen al 150% cuando pasa el mouse por encima */
}

/* Estilos para botones */
button {
    background-color: #E91E63;
    color: white;
    border: none;
    padding: 15px 35px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #D81B60;
}

/* Estilos para enlaces */
a {
    color: #E91E63;
    text-decoration: none;
    transition: color 0.3s ease; /* Transición suave para el hover */
}

a:hover {
    color: #D81B60;
}

/* Estilos para secciones */
section {
    margin-bottom: 30px;
}

/* Otros estilos útiles */
.text-center {
    text-align: center;
}

.mt-2 {
    margin-top: 1em;
}

.mb-2 {
    margin-bottom: 1em;
}

/* Media query para responsive design */
@media (max-width: 768px) {
    .container {
        padding: 20px;
    }
}






























































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































 
 



































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































